.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#wrapper {
  position: absolute;
  right: 0px;
}


.user-details {
  list-style-type: none;
  color: deeppink;
}

#map {
    padding: 48px;
    margin: 6px;
    border: 10px solid black;
}

#wrapper {
  margin: 25px;
}

body {
  padding: 25px;

}

.profile-img {
   border-radius: 50%;
  width: 50%;

}

.container {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.signin {
  grid-column: 2/3;
    text-align: center;
}
